<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="shortcut icon" href="/icons/teams.png">

    <!-- bootstrap file -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- css file -->
    <link rel="stylesheet" href="/css/home.css">

    <title>Microsoft teams</title>
</head>

<body>
    <div class="container">
        <div id="main-image">
            <img src="/icons/vectorart2.jpg" alt="vector image">
        </div>
        <p id="tag">Welcome to Microsoft teams</p>
        <div id="button-div">
            <a href="/index"><button id="button" type="button" class="btn btn-primary btn-lg">New meeting
                </button></a>
        </div>
    </div>

</body>

</html>